## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,13,Iquitos,PE,78.84,broken clouds,-3.7481,-73.2472,Cortez Malaga Techy Caroly
1,14,Faanui,PF,80.65,moderate rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
2,17,Kavieng,PG,80.08,moderate rain,-2.5744,150.7967,Nusa Island Retreat
3,21,Buraydah,SA,75.65,clear sky,26.3260,43.9750,Mövenpick Qassim
4,28,Arraial Do Cabo,BR,76.86,broken clouds,-22.9661,-42.0278,Pousada Porto Praia

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start =vacation_df.loc[(vacation_df["City"]=="Laguna")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Laguna")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Salinas")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Half Moon Bay")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Roseland")]

In [29]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
53,173,Laguna,US,78.3,clear sky,38.421,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

In [30]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
93,328,Salinas,US,77.56,few clouds,36.6777,-121.6555,Laurel Inn & Conference Center

In [7]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
167,594,Half Moon Bay,US,78.42,scattered clouds,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"

In [31]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
114,388,Roseland,US,79.9,few clouds,38.4221,-122.728,Best Western Garden Inn

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
import numpy as np
start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat","Lng"]].to_numpy()[0]
stop1 =vacation_stop1[["Lat","Lng"]].to_numpy()[0] 
stop2 =vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 =vacation_stop3[["Lat","Lng"]].to_numpy()[0]

In [32]:
start

array([  38.421 , -121.4238])

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
travel_route= gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode="DRIVING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,173,Laguna,US,78.30,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
1,328,Salinas,US,77.56,few clouds,36.6777,-121.6555,Laurel Inn & Conference Center
2,594,Half Moon Bay,US,78.42,scattered clouds,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
3,388,Roseland,US,79.90,few clouds,38.4221,-122.7280,Best Western Garden Inn

In [27]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
travel_marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(travel_marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))